Repository mikf/gallery-dl, pull requests merged in 2025-09, with the labels that each got.

#8270 Adds a new `DanbooruRandomExtractor` to support downloading random posts.
  docs/supportedsites.md
  gallery_dl/extractor/danbooru.py
  scripts/supportedsites.py
  test/results/aibooru.py
  test/results/atfbooru.py
  test/results/booruvar.py
  test/results/danbooru.py
Labels: site:feature

#8295 Chevereto Albums were not downloading videos
  gallery_dl/extractor/chevereto.py
Labels: site:bug

#8303 [cookies] add support for Orion
  gallery_dl/cookies.py
Labels: core:feature, cookies
