Repository mikf/gallery-dl, pull requests merged in 2025-05, with the labels that each got.

#7496 [mastodon] Add support for Akkoma/Pleroma /notice/:status_id urls + Some unit tests
  gallery_dl/extractor/mastodon.py
  test/results/mastodon.py
Labels: site:type:mastodon, site:url

#7546 [cookies] add support for Zen Browser
  gallery_dl/cookies.py
Labels: feature-request, cookies

#7473 [pixeldrain] add support for filesystem URLs
  docs/configuration.rst
  docs/gallery-dl.conf
  docs/supportedsites.md
  gallery_dl/extractor/pixeldrain.py
  scripts/supportedsites.py
  test/results/pixeldrain.py
Labels: site:feature

#7434 [pixiv] Implement sanity handling for ugoira works
  gallery_dl/extractor/pixiv.py
  test/results/pixiv.py
Labels: site:enhancement, ugoira
