Repository mikf/gallery-dl, pull requests merged in 2025-03, with the labels that each got.

#7159 [furaffinity] Adding a FuraffinityFolderExtractor
  docs/supportedsites.md
  gallery_dl/extractor/furaffinity.py
  test/results/furaffinity.py
Labels: site:feature

#7220 [DeviantArt] Support for Subfolders
  docs/configuration.rst
  docs/gallery-dl.conf
  gallery_dl/extractor/deviantart.py
  test/results/deviantart.py
Labels: site:feature, site:deviantart

#7261 [DeviantArt] - Multi Image Gallery
  gallery_dl/extractor/deviantart.py
  test/results/deviantart.py
Labels: site:feature, site:deviantart

#7191 [tiktok] Add retry mechanism to rehydration data extraction
  gallery_dl/extractor/tiktok.py
  test/results/tiktok.py
Labels: site:enhancement
