Repository mikf/gallery-dl, pull requests merged in 2025-02, with the labels that each got.

#6956 [b4k] update domain to arch.b4k.dev
  docs/supportedsites.md
  gallery_dl/extractor/foolfuuka.py
  scripts/supportedsites.py
  test/results/b4k.py
Labels: site:url

#6836 [discord] add support
  docs/configuration.rst
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/discord.py
  scripts/supportedsites.py
  test/results/discord.py
Labels: site:support

#6768 [boosty] added new direct message extractor
  docs/supportedsites.md
  gallery_dl/extractor/boosty.py
  scripts/supportedsites.py
  test/results/boosty.py
Labels: site:feature

#6781 [bilibili] bilibili User Articles FavList support
  docs/supportedsites.md
  gallery_dl/extractor/bilibili.py
  scripts/supportedsites.py
  test/results/bilibili.py
Labels: site:feature

#6708 [TikTok] Add support
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/tiktok.py
  scripts/supportedsites.py
  test/results/tiktok.py
Labels: site:support
