Repository mikf/gallery-dl, pull requests merged in 2025-07, with the labels that each got.

#7785 [iwara] Add support
  docs/configuration.rst
  docs/gallery-dl.conf
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/iwara.py
  scripts/supportedsites.py
  test/results/iwara.py
Labels: site:support, nsfw

#7787 [motherless] Add group support
  docs/supportedsites.md
  gallery_dl/extractor/motherless.py
  test/results/motherless.py
Labels: nsfw, site:feature

#7850 Enable pool metadata on Inkbunny extractor
  gallery_dl/extractor/inkbunny.py
Labels: site:metadata

#7852 [facebook] add retries to profile page request
  gallery_dl/extractor/facebook.py
Labels: site:enhancement

#7899 Use False as default instead of None to avoid TypeError
  gallery_dl/postprocessor/exec.py
  test/test_postprocessor.py
Labels: pp:bug

#7904 [kemonoparty] update extractor to use new domains
  docs/supportedsites.md
  gallery_dl/extractor/kemono.py
  scripts/supportedsites.py
  test/results/coomer.py
  test/results/kemono.py
Labels: site:change, site:url, site:kemono

#7934 Add xasiat.com extractor
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/xasiat.py
  test/results/xasiat.py
Labels: site:support, nsfw
