Repository mikf/gallery-dl, pull requests merged in 2025-06, with the labels that each got.

#7611 Add support for /pics/ URLs on sex.com
  gallery_dl/extractor/sexcom.py
  test/results/sexcom.py
Labels: site:url

#4571 [rawkuma] Add rawkuma extractor
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/rawkuma.py
  test/results/rawkuma.py
Labels: site:support, site:type:wordpress

#7641 [docs] Update auto output mode documentation to reflect implementation
  docs/configuration.rst
Labels: documentation

#7653 [Archived.moe] Fix redirection issue
  gallery_dl/extractor/foolfuuka.py
  test/results/archivedmoe.py
Labels: external-issue, site:bug

#6016 [girlswithmuscle] init
  docs/configuration.rst
  docs/gallery-dl.conf
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/girlswithmuscle.py
  scripts/supportedsites.py
  test/results/girlswithmuscle.py
Labels: site:support

#7043 [Redbust] Add support
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/redbust.py
  scripts/supportedsites.py
  test/results/redbust.py
Labels: site:support, nsfw

#6200 [girlsreleased] Add support
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/girlsreleased.py
  test/results/girlsreleased.py
Labels: site:support, nsfw

#6556 [nudostar.tv] add support
  .gitignore
  docs/supportedsites.md
  gallery_dl/extractor/__init__.py
  gallery_dl/extractor/nudostar.py
  scripts/supportedsites.py
  test/results/nudostar.py
Labels: site:support, nsfw

#7441 [webtoons] Thumbnail extract
  docs/configuration.rst
  docs/gallery-dl.conf
  gallery_dl/extractor/webtoons.py
  test/results/webtoons.py
Labels: site:feature
